body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.form-container {
  width: 98%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label,
.form-group select {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}

#category {
  width: 49%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.country-city-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.country-city-container .form-group {
  flex-basis: calc(50% - 10px);
}

.country-city-container .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label[for="category"],
label[for="country"],
label[for="city"] {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

option[value="0"] {
  font-weight: bold;
  text-align: center;
  color: #333;
}

.country-city-container .form-group:nth-child(odd) {
  margin-right: 5px;
}
.country-city-container .form-group:nth-child(even) {
  margin-left: 5px;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.rating {
  font-weight: bold;
  color: #961b1b;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.rating.selected {
  color: yellow;
}

#ratings-table {
  display: none;
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

#ratings-table th,
#ratings-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

#ratings-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  text-align: left;
}

#ratings-table tbody td {
  font-size: 16px;
}

#ratings-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ratings-table tr:hover {
  background-color: #ddd;
}

.submit-button-container {
  text-align: center;
  margin-top: 24px;
}

.form-container select#location,
.form-container select {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.submit-button {
  align-self: center;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #17a2b8;
}

.submit-button:focus {
  outline: none;
}

.rating:not(.selected) {
  opacity: 0.3;
}
