/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light background color */
}

.form-container {
  width: 98%; /* Increased width for better visibility */
  margin: auto;
  padding: 20px; /* Added padding for spacing */
  background-color: #fff; /* White background for form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.form-group {
  margin-bottom: 20px; /* Increased margin for spacing */
}

.form-group label,
.form-group select {
  display: block; /* Labels and selects on separate lines */
  margin-bottom: 8px; /* Space between label and select */
  font-size: 18px; /* Larger font size for better readability */
  color: #333; /* Text color */
}

#category {
  width: 49%; /* Full width for the dropdown */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  margin-bottom: 20px; /* Add spacing below the dropdown */
}

.country-city-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line */
  margin-top: 20px; /* Add margin at the top */
}

.country-city-container .form-group {
  flex-basis: calc(50% - 10px); /* Each form group takes up half of the container width with some margin */
}

.country-city-container .form-group select {
  width: 100%; /* Full width for selects */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

/* Apply CSS to the label element */
label[for="category"],
label[for="country"],
label[for="city"] {
  font-weight: bold; /* Make the text bold */
  display: block; /* Ensure label is displayed as block */
  margin-bottom: 8px; /* Add spacing below the label */
}


/* Apply CSS to the option element */
option[value="0"] {
  font-weight: bold;
  text-align: center; 
  color: #333; 
}

/* Add space between country and city dropdowns */
.country-city-container .form-group:nth-child(odd) {
  margin-right: 5px; 
}
.country-city-container .form-group:nth-child(even) {
  margin-left: 5px; 
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.rating {
  font-weight: bold; 
  color: #961b1b;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.rating.selected {
  color: yellow;
}

#ratings-table {
  display: none; 
  width: 50%;
  margin: 0 auto; /* Center align the table */
  border-collapse: collapse;
  vertical-align: top;
  margin-right: 5px;
}


#ratings-table th,
#ratings-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

#ratings-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  text-align: left;
}

#ratings-table tbody td {
  font-size: 16px;
}

#ratings-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ratings-table tr:hover {
  background-color: #ddd;
}



.submit-button-container {
  text-align: center; /* Center align submit button */
  margin-top: 24px;
  
}

.form-container select#location,
.form-container select {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.submit-button {
  align-self: center;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #17a2b8;
}

.submit-button:focus {
  outline: none;
}

.rating:not(.selected) {
  opacity: 0.3;
}
