<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Local Services</title>
</head>
<body>
    <h1>Search Local Services</h1>
    <form action="/scraped" method="post">
        <label for="search_key">Enter Search Key:</label>
        <input type="text" id="search_key" name="search_key">
        <br>
        <label for="city">Enter City :</label>
        <input type="text" id="city" name="city" required>
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
